<div class="header">
    <a >
        <img class="header_logo" src="/assets/images/amazon_header_logo.png" />
    </a>
        
        <div class="header_search">
            <input class="header_search_input" type="search" />
             <span class=" search_icon material-icons">{{title}}</span>
  
        </div>
        <div class="header_nav">
            <a >
            <div class="header_nav_option" onClick={handleAuthentication}>
                <span class="header_nav_option_line1 ">Hello Guest</span>
                <span class="header_nav_option_line2">sign In</span>
            </div>
            </a>
            
            <div class="header_nav_option">
  
                <span class="header_nav_option_line1 ">Return</span>
                <span class="header_nav_option_line2">& Orders</span>
            </div>
            <div class="header_nav_option">
                <span class="header_nav_option_line1 ">Your</span>
                <span class="header_nav_option_line2">Prime</span>
  
            </div>
            <a [routerLink]="['/checkout']" class='link header_nav_option' >
                <span class="header_add_material"><span class="material-icons">shopping_cart </span>2</span>
            </a>
          
            
  
        </div>
    </div>
